:root {
	--clr-primary-beige: #f3eed9;
	--clr-primary-brown: #824936;
	--clr-primary-green: #222c2a;

	--clr-neutral-white: #fff;

	--ff-primary: 'Roboto', sans-serif;
	--ff-secondary: 'Playfair Display', serif;

	--fw-light: 300;
	--fw-normal: 400;
	--fw-black: 700;

	--min-height: 41.25rem;
	--max-width: 70.5rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--ff-primary);
	font-weight: var(--fw-normal);
	font-size: 1.3125rem;
	line-height: 1.6;
}

body,
h1,
h2,
p {
	margin: 0;
}

img {
	display: block;
	width: 100%;
}

/* TYPOGRAPHY */
h1,
h2 {
	color: var(--clr-primary-brown);
	font-family: var(--ff-secondary);
	font-weight: var(--fw-black);
	line-height: 1;
}

/* LAYOUT */
header,
section {
	padding: 4rem 0;
}

h2,
p {
	margin-bottom: 1em;
}

.container {
	margin-inline: auto;
	width: min(90%, var(--max-width));
}

.container--narrow {
	max-width: 35rem;
}

/* UTILITY CLASSES */
.text-center {
	text-align: center;
}

.bg-beige {
	background-color: var(--clr-primary-beige);
}
.bg-white {
	background-color: var(--clr-neutral-white);
}
.bg-green {
	background-color: var(--clr-primary-green);
	color: var(--clr-neutral-white);
}
.bg-brown {
	background-color: var(--clr-primary-brown);
	color: var(--clr-neutral-white);
}

.bg-green h2,
.bg-brown h2 {
	color: var(--clr-primary-beige);
}

.split {
	display: flex;
	flex-direction: column;
}

/* MEDIA QUERIES */
@media (min-width: 40em) {
	header,
	section {
		padding: 7rem 0;
	}

	.split {
		flex-direction: row;
		gap: 2em;
	}
	.split > * {
		flex-basis: 100%;
	}
} ;
